{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block login_signup_btns %}
  {% if user.is_authenticated %}
    <div>
      <a class="btn btn-primary" href="{% url 'logout' %}">Log Out</a>
      <a class="btn btn-primary" href="{% url 'password_reset' %}">Reset Password</a>
    </div>
  {% else %}
  <div>
    <a href="{% url 'login' %}"><button class="btn btn-primary">Log In</button></a>
    <a  href="{% url 'signup' %}"><button class="btn btn-primary">Sign Up</button></a>
  </div>
  {% endif %}
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div>
  <p>Hi {{ user.username }}!</p>
</div>
{% else %}
<p>You are not logged in</p>
{% endif %}
{% endblock %}